This is temmplate file for jinja templating example on if-else conditional statements.

{% if x<y %}
{{ x }} is smaller than {{ y }}.
{% else %}
{{ x}} is greater than {{ y }}.
{% endif %}

This is end of file.
