This is temmplate file for jinja templating example on if-elif-else conditional statements.

{% if x<y %}
{{ x }} is smaller than {{ y }}.
{% elif x>y %}
{{ x }} is greater than {{ y }}.
{% else %}
{{ x }} is equal to {{ y }}.
{% endif %}

This is end of file.
